h1 {
    font-size:120px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    margin: 0;

}
h2{
    color: black;
    text-align: center;
}
#worldmap {
    max-width: 70%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid grey   
}
body {
    background: url(assets/table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Arial Narrow', Arial, sans-serif
}
#intro{
    background: url(assets/paper.jpg);
    margin-left: 5px;
    border: 5px solid grey;

}
